version: "3.9"

services:
  load-balancer:
    build:
        context: .
        dockerfile: "LoadBalancer/Dockerfile"
    ports:
      - 9000:80
  search-api:
    build:
      context: .
      dockerfile: "SearchAPI/Dockerfile"
    depends_on:
      - load-balancer
    volumes:
      - C:/Users/CVI/source/repos/scaling-project/lb-data:/data
    deploy:
      replicas: 3
  web:
    build:
      context: .
      dockerfile: "WebSearch/Dockerfile"
    ports:
      - 9001:80
    depends_on:
          - load-balancer
  auth:
    build:
      context: .
      dockerfile: "JWTLoginAuthenticationAuthorization/Dockerfile"
    ports:
      - 28747:80
    depends_on:
          - load-balancer
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
